# Ignore node_modules directory (will be installed in Docker container)
node_modules

# Ignore build directories (created by Vite)
dist
build

# Ignore local environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore Vite and Tailwind config if not needed in production
vite.config.js
tailwind.config.js
postcss.config.js

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
