@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Layer */
@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .body {
    @apply m-0 flex flex-col items-center min-w-[320px] min-h-screen bg-[#242424] text-white;
  }

  h1 {
    @apply text-[3.2em] leading-[1.1];
  }

  a {
    @apply font-medium text-[#646cff] no-underline;
  }

  a:hover {
    @apply text-[#535bf2];
  }

  button {
    @apply rounded-[8px] border border-transparent py-2 px-4 text-[1em]
    font-medium bg-[#1a1a1a] cursor-pointer transition-colors duration-300 ease-in-out;
  }

  button:hover {
    @apply border-[#646cff];
  }

  button:focus,
  button:focus-visible {
    @apply outline outline-[4px] outline-blue-400; /* Adjust color as needed */
  }

  /* Media Queries for Light Mode */
  @media (prefers-color-scheme: light) {
    :root {
      @apply text-[#213547] bg-white;
    }

    a:hover {
      @apply text-[#747bff];
    }

    button {
      @apply bg-[#f9f9f9];
    }
  }
}

@layer utilities {
  /* Add any custom utilities here if needed */
}
